<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>All Things Linguistic</title>

        <link href="style.css" rel="stylesheet" type="text/css" />
     
    </head>
    
    <body>
<header>
    <nav class="menu">

        <a href="/index/">Home</a>
        <a href="/lectures/">Lectures</a>
        <a href="/treeguide/">Tree Guide</a>
        <a href="/writing/">Writing Guide</a>
        <a href="/aboutme/">About Me</a>
              
        </nav>     
      
      </header>
   
      <main class="main">

        {{content | safe }}

      </main>
      

      
    <footer>© 2022, Michaela Cakanyova approves this message </footer>
  </body>
</html>